.header-container {
  margin-bottom: 32px;
  background-color: #fff;
}

.logo-container {
  padding: 12px 48px;
  border-bottom: 1px solid #d9d9d9;
}

.title-container {
  display: flex;
  padding: 8px 48px;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -1px 0px #d9d9d9;
}

.title-container > h2,
.goback-container > h2 {
  font-family: var(--global-font);
  font-size: 20px;
  font-weight: 600;
}

.title-container > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 40px;
  padding: 8px 16px;
  border: 0;
  border-radius: 4px;
  background-color: #f5222d;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.title-container > button > div {
  font-size: 20px;
  margin-right: 4px;
}

.goback-container {
  display: flex;
  align-items: center;
  padding: 8px 48px;
}

.goback-container > button {
  margin-right: 24px;
  font-family: var(--global-font);
  font-size: 12x;
  font-weight: 400;
  border: 0;
  cursor: pointer;
  background-color: #fff;
}

@media (max-width: 768px) {
  .title-container,
  .goback-container,
  .logo-container {
    padding: 4px 16px;
  }
}
